dairyTrack-web/node_modules/
.cache/
/dairyTrack-api/MilkProduction/__pycache__
/dairyTrack-api/MilkProduction/app/__pycache__
/dairyTrack-api/MilkProduction/app/database/__pycache__
/dairyTrack-api/MilkProduction/app/models/__pycache__
dairyTrack-api/Selling/whatsapp_errors.log
/dairyTrack-api/Selling/logs
